.keyart .keyart_layer{height:100vh;}
.keyart_layer.parralax{position: fixed;}
.keyart_layer{
  background-position: bottom center;
  background-size: auto 1038px;
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  background-color:green;
}
#para-box-2{background-image: url('../img/parallax/background.jpg')}
#para-box-3{background-image: url('../img/parallax/foreground1.png')}
