body{font-family: 'El Messiri', sans-serif;}
p{font-weight:500;}
h1{font-size:45px;
letter-spacing:3px;
font-family: 'Audiowide', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Permanent Marker', cursive;}
.text-block-div{margin:-1px 5px 0 5px;}
.card-date{text-align:center;}
.card-text{text-transform:uppercase;}
.front{border:2px solid #000000; border-radius:10px;}
.front .name{border-radius: 0 5px 0 5px;}
.desc-text{padding:15px;}
.back{
  color:#3097D1;
  border:2px solid #000000;
  border-radius:10px;
}
footer{
  margin-top:50px;
}
#para-box-2{background-image: url('img/background.jpg');}
#para-box-2{top:80vh;}
#para-box-6 img{width:100%; margin:0;}
.card-text-title{
  margin:25px auto;
  text-transform:uppercase;
  text-align:center;
}
@media only screen and (min-width: 768px) {
h1{font-size:70px;}
body{display:block;}
#para-box-2{top:75vh;}
}
nav{
  font-size: 18px;
  font-weight: 500;
}
.pos-r{position:relative;}
.pos-a{position:absolute;}

.height-100{height:100%;}
.padding-l-50{padding-left:50px;}

.contact-page .banner-img{background-image:url('../img/IMG_1743.jpg'); width: 100%; background-size: cover; background-position: 100%;}
.blog-page .banner-img{background-image:url('../img/IMG_1741.jpg'); width: 100%; background-size: cover; background-position: 100%;}
.hobbies-page .banner-img{background-image:url('../img/IMG_1742.jpg'); width: 100%; background-size: cover; background-position: 100%;}
.work-page .banner-img{background-image:url('../img/portland-coast.jpg'); width: 100%; background-size: cover; background-position: 100%;}
div h1{bottom:50px; left:50px; color:white; text-transform: capitalize;}
.banner-img{margin-bottom:50px;height: 200px;}
.carousel-caption{ackground-color:rgba(0,0,0,0.5); border-radius:5px;}
